module.exports = {
    'facebookAuth' : {
        'clientID'      : '<your App ID>', // your App ID
        'clientSecret'  : '<your App Secret>', // your App Secret
        'callbackURL'   : '<facebook callbackURL>' //i.e https://timelogit.herokuapp.com/auth/facebook/callback
    }
}